*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1b0b2f ;
    color: #fff;
}





/* Navbar section styles start here...! */
.nav-section{
    max-width: 1200px;
    margin: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.nav-logo span{ 
    background: linear-gradient(to right, #ff1ebf, #7f3cff, #ffd84d);
   -webkit-background-clip: text;
   color: transparent;
}
.list-item{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 25px;
} 

.list-item a{
    text-decoration: none;
    color: #ffffff;
}
.list-item :hover{
    color: red;
}
.nav-button{
    background: linear-gradient(45deg, #ff3ec9, #7f3cff);
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 12.5px 16px;
    cursor: pointer;
}
.nav-button-1{
    background: linear-gradient(45deg, #ff3ec9, #7f3cff);
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 12.5px 16px;
    cursor: pointer;}
.nav-button:hover{
    color: rgb(0, 0, 0);
}
.toogle{
    display: none;
}





/* hero section Styles start from here */

.hero-container {
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 100px 20px;
  row-gap: 25px;
}

.mic-circle{
    width: 350px;
    height: 350px;
    background-image: url(../images/hero-circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center
    width- 300px;
    transition: transform 0.4s ease;
}
.mic-circle :hover{
    transform: scale(1.1);
}
.mic-circle img{
    margin-top: 80px;
    align-items: center;
    text-align: center;
}
.badge{
    font-size: 1.25rem;
    font-weight: 700;
    color: #000000;
    background-color: #25eb60;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: -700px;
    margin-right: -200px;
    cursor: pointer;
}

.hero-container h1 {
  font-size: 3.75rem;
  font-weight: 800;
}

.hero-container p {
    font-size: 1rem;
    max-width: 520px;
}
.subscribe-button{
    background-color: #1b0b2f;
    color: #00ff88;
    border: 1px solid #00ff88;
    border-radius: 25px;
    padding: 12.5px 16px;
    cursor: pointer;
}



/* About section styles are start from here */
.about-container{
    margin: 10px auto;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
}
.about-container h1{
    font-size: 3rem;
    font-weight: bold;
    padding: 20px;
}

.horijontal{
    margin: 20px auto;
    align-items: center;
    text-align: center;
    width: 75%;
}
.ratings{
    margin:0px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.items {

    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.items h1{
    color:#4CAF50;
    font-size: 3rem;
    font-weight: 900;
}
.items p{
    color: #ffffff;
    font-size: 1rem;
    padding: 10px;
}





/* Choose container styles are start from here */

.choose-container{
    padding: 50px 100px;
    background-color: #230e3d;
}
.choose-container h1{
    text-align: center;
    margin-bottom: 10px;
}
.types-techwaves{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3 , 250px);

}
.big-card{
    align-items: center;
    background-color: #1b0b2f;
    border-radius: 10px;
    padding: 20px;
    grid-column: span 1;
    grid-row: span 2;
    /* display: 100%; */
}
.big-card img{
   margin-top: 150px;
}
.normal-card{
    align-items: center;
    justify-content: center;
    background-color: #1b0b2f;
    border-radius: 10px;
    padding: 20px;
    grid-column: span 2;
}
.card-3{
    align-items: center;
    justify-content: center;
    background-color: #1b0b2f;
    border-radius: 10px;
    padding: 20px;
    grid-column: span 2;
}
.card-4{
    align-items: center;
    justify-content: center;
    background-color: #1b0b2f;
    border-radius: 10px;
    padding: 20px;
    grid-column: span 1;
}








/* Features section styles are start from here */
    
.features-container h2{
    font-size: 3rem;
    font-weight: bold;
    margin: 30px;
    text-align: center;
}
.features-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    
}
.box{
    width: 400px;
    height: 380px;
    background:#1f0c3d;
    border-radius:15px;
    overflow:hidden;
}
.video iframe{
  width:100%;
  height:180px;
  border:none;
}

.video-content{
    padding: 10px;
}

.video-content h3{
    font-size: 1.25rem;
    margin: 15px;
}

.video-content p{
    margin: 15px;
    font-size: 1rem;
    line-height: 24px;
}
.video-content span{
    margin: 15px;
    color: #00ff88;
}









/* Host sections styles start from here */
.host-container h2{
    font-size: 3rem;
    font-weight: bold;
    margin: 50px 0px;
    align-items: center;
    text-align: center;
}
.host-section{
    background-color: #1f0c3d;
    margin: 10px auto;
    max-width: 1200px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}
.host-image{
    height: 200px;
    width: 200px;    
    animation: float 3s ease-in-out infinite;
}
@keyframes float{
  0%{ transform: translateY(0); }
  50%{ transform: translateY(-15px); }
  100%{ transform: translateY(0); }

}
.host-content h3{
    font-size: 2rem;
    font-weight: bold;
    margin: 5px 0px;
    align-items: center;
}
.host-content p{
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 24px;
}
.social-host img{
    margin-top: 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    align-items: center;
}





/* Footer sections styles are here */
.footer-container{
    background-image: url(../images/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    padding: 100px 20px;
    row-gap: 25px;
    margin-bottom: 20px;
}
.items-footer{
    display: flex;
    gap: 15px;
}
.footer-container h1{
    font-size: 3.25rem;
}
.footer-container span{
    background: linear-gradient(to right, #ff1ebf, #7f3cff, #ffd84d);
   -webkit-background-clip: text;
   color: transparent;
}


/* Mobie Responsive Styles are here..! */
@media screen and (max-width:767px) {



/* Header responsive for mobile device */
.nav-section{
    display: flex;
}
.list-item{
    display: none;
}
.nav-button{
    display: none;
}
.toogle{
    display: flex;
}


/* Hero container style here */
.hero-container {
  background-image: url(../images/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 10px 5px;
  row-gap: 25px;
}
.mic-circle{
    margin-top: 80px;
    width: 200px;
    height: 200px;
    background-image: url(../images/hero-circle.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center
}
.mic-circle img{
    height: 150px;
    width: 100px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}
.badge{
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    background-color: #25eb60;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: -430px;
    margin-right: -120px;
    cursor: pointer;
}



/* About section responsive */
.ratings{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
   }



/* Choose sections styles are start from here */
.choose-container{
    padding: 10px 10px;
    background-color: #230e3d;
}
.choose-container h1{
    margin-bottom: -310px;
}
.types-techwaves{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 10px;
}
.big-card{
    margin-top: 360px;
    border-radius: 10px;
    padding: 20px;
    grid-column: span 1;
}
.big-card img{
   margin-top: 0px;}



/* Features section responsive */
.box{
    width: 400px;
    height: 400px;
    background:#1f0c3d;
    border-radius:15px;
    overflow:hidden;

}
.features-container h2{
    font-size: 2rem;
    font-weight: bold;
    margin: 30px;
    text-align: center;}
.features-card{
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.video iframe{
  height:200px;
  border:none;
}






/* Host sections responsive start here */
.host-section{
    max-width: 450px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    text-align: center;
    justify-content: center;
}

.host-image{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;

}





/* Footer section Responsive */
.footer-container{
  background-image: url(../images/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: grid;
  place-items: center;
  margin-bottom: 20px;
  padding: 10px 5px;
  row-gap: 20px;
}
.items-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.footer-container h1{
    font-size: 2.25rem;
}
.footer-container span{
    background: linear-gradient(to right, #ff1ebf, #7f3cff, #ffd84d);
   -webkit-background-clip: text;
   color: transparent;
}
}